/*Definições gerais do corpo da página*/
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: rgba(238, 111, 8, 0.425);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 0, 255);
}

/*Definições de margem e centralização do Título e descrição*/
h1, p {
    margin: 1em auto;
    text-align: center;
}

/*Definições gerais do corpo/espaço do formulário*/
form {
    width: 70vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background: rgba(248, 149, 0, 0.438);
    box-shadow: 0 8px 32px 0 rgba(238, 146, 7, 0.671);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 15px;
        
}
/* Definições gerais dos campos "fieldsets" */
fieldset {
    border: none;
    padding: 1rem 0.5rem 0rem 0.1rem;
    border-bottom: 2px solid rgb(255, 238, 0);
}
fieldset:last-of-type {
    border-bottom: none;
}
/* Definições gerais dos campos "Labels" */
label {
    display: block;
    margin: 1.5rem auto;
    
}

/* Definições sobre caixas de textos, botões de seleções/opções */
input,
textarea,
select {
  border-radius: 5px;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
input, textarea, #dropdown {
background-color: rgb(253, 252, 167);
border: 1px solid #eeb20c46;
color: rgb(255, 0, 255);
}
.inline {
    width: unset;
    margin: 0 0.5rem 0 1rem;
    vertical-align: middle;
    
}

#submit {
    background-color: rgb(255, 145, 0);
    margin: 10px 2px;
    width: 30%;
    min-height: 2em;
    color: rgb(0, 0, 0);
    
}

#submit:hover {
    background-color: rgb(81, 255, 0);
    color: rgb(255, 255, 255);
}

#dropdown {
    background-color: rgb(253, 252, 167);
}


/*Classe específica para centralizar os textos desejados dentro das Labels.*/
.center {
    text-align: center;
}
